parameters:
    level: 1

    paths:
        - .

    fileExtensions:
        - php
        - inc
        - module
        - install

    excludePaths:
        analyse:
            - '**/vendor/**'
            - '**/lib/**'
            - '**/libs/**'
            - '**libraries/**'
            - '**/tests/**'
            - '**/.git/**'


    ignoreErrors:
      - '#Constant WATCHDOG_.* not found#'