parameters:
    level: 0

    paths:
        - .

    fileExtensions:
        - php
        - inc
        - module
        - install

    excludePaths:
        analyse:
            - vendor/*
            - libraries/*
            - node_modules/*
            - tests/*