custom/*
.vscode/*
.settings/*
.project
.buildpath
*/Thumbs.db

tests/test-settings.php

#Re-include specific files so subdirs are created.
!custom/files/README.txt
!custom/modules/README.txt
!custom/themes/README.txt

